<footer class="footer">
  <div class="left">
    Sample App by <a href="http://www.example.com/">You</a>.
  </div>
  <div class="right">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </div>
</footer>